# Local terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.log.*

# Exclude vars and secrets
*.tfvars
*.tfvars.json
override.tf
override.tf.json
_override.tf
_override.tf.json

# Include override files you do wish to add to git
# !example_override.tf

# Include lock file for specific provider versions
.terraform.lock.hcl

# Ignore CLI configuration files
.terraformrc
terraform.rc
